<!DOCTYPE html>
<html>
<head>
  <title>Facebook Comment Section</title>
  <style>
    .comment-section {
      margin-bottom: 20px;
    }

    .comment {
      display: flex;
      margin-bottom: 10px;
    }

    .comment-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .comment-content {
      flex-grow: 1;
    }

    .comment-author {
      font-weight: bold;
    }

    .comment-text {
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <div class="comment-section">
    <div class="comment">
      <img src="avatar1.jpg" alt="Avatar" class="comment-avatar">
      <div class="comment-content">
        <div class="comment-author">John Doe</div>
        <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
    </div>
    <div class="comment">
      <img src="avatar2.jpg" alt="Avatar" class="comment-avatar">
      <div class="comment-content">
        <div class="comment-author">Jane Smith</div>
        <div class="comment-text">Sed eu dolor id quam placerat elementum.</div>
      </div>
    </div>
  </div>

  <!-- Add more comments with different avatars, authors, and texts -->
</body>
</html>
