.post {
    display: flex;
    align-items: center;
  }

  .post-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .border-top .col-4:hover {
    background-color: rgb(238, 238, 238);
  }
  .border-top .col-4 {
    border-radius: 10px;
  }
  .view-all-comments:hover a {
    text-decoration: underline;
  }
  #view-comment:hover {
    text-decoration: underline;
  }
  .like:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .card-body .post a:hover {
    text-decoration: underline;
  }

  #search-filters .row:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1); 
  }

  .card-story:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  .card-story:hover img {
   filter: brightness(85%);
   transition: transform 0.3s ease;
  }

  .add-story-card-1 {
    background: linear-gradient(to bottom, #E1AEFF, #FFECEC);
    
  }

  .add-story-card-2 {
    background: linear-gradient(to bottom, #D14D72, #FEF2F4);
  }

  .add-story-card-1:hover{
    background-color: #002266;
    cursor: pointer;
  }

  .add-story-card-2:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  #story_card {
    background: linear-gradient(to bottom, #D14D72, #FEF2F4);
  }

  #story_owner:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  


  